<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="container-fluid">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo de la empresa">
        </div>
        <div class="row d-flex">

           <div class="col-sm-2 col-md-1 col-lg-2 " id="aside">
                
                

                <li><a href="{% url 'tipoprod_list' %}">Tipos de Producto</a></li>
                <li><a href="{% url 'tipopago_list' %}">Tipos de Pago</a></li>
                <li><a href="{% url 'proveedor_list' %}">Proveedores</a></li>
                <li><a href="{% url 'ubicacion_list' %}">Ubicaciones</a></li>
                <li><a href="{% url 'producto_list' %}">Productos</a></li>
                <li><a href="{% url 'kit_list' %}">Kits</a></li>
                <div class="bienvenida">
                    <li>Bienvenido, {{ user.username }}</li>
                    <form id="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                    </form>
                    
                </div>
                

            </div>
           

            <div class="content col-sm-8 col-md-9 col-lg-7" id="producto">
                <main>

                    {% block content %}

                    {% endblock %}

                </main>
            </div>

        </div>

    </div>
    
</body>


</html>