<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás seguro que deseas eliminar {{ model_name }} "{{ object }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <a href="{% url model_name|lower|add:'_detail' object.pk %}" class="btn btn-secondary">Cancelar</a>
    </div>
</body>
</html>
